	<!-- History Start -->
    <div class="rs-history">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 rs-vertical-bottom mobile-mb-50">
                    <a href="#">
                        <img src="/assets/images/about/history.jpg" alt="History Image"/>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="abt-title">
                        <h2>NOTRE HISTORE</h2>
                    </div>
                    <div class="about-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe derit in voluptate velit esse cillum.</p>

                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot fore see the pain and trouble that are bound to belongs to who fail in their duty.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- History End -->

    <!-- Mission Start -->
    <div class="rs-mission  sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mobile-mb-50">
                    <div class="abt-title">
                        <h2>NOTRE MISSION</h2>
                    </div>
                    <div class="about-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe derit in voluptate velit esse cillum.</p>

                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, that they cannot fore see the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-md-6 mobile-mb-30">
                            <a href="#">
                                <img src="/assets/images/about/mission1.jpg" alt="Mission Image"/>
                            </a> 
                        </div>
                        <div class="col-md-6">
                            <a href="#">
                                <img src="/assets/images/about/mission2.jpg" alt="Mission Image"/>
                            </a>                 			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mission End -->

    <!-- Vision Start -->
    <div class="rs-vision">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mobile-mb-50">
                    <div class="vision-img rs-animation-hover">
                        <img src="/assets/images/about/vision.jpg" alt="img02"/>
                        <a class="popup-youtube rs-animation-fade" href="https://drive.google.com/file/d/1d2CDeo1R24SXZhVnnMzEZHUzdXVXtNtA/view?usp=drive_link" title="Video Icon">
                        </a>
                        <div class="overly-border"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="abt-title">
                        <h2>NOTRE VISION</h2>
                    </div>
                    <div class="vision-desc">
                        

                        <p>BIAST, Institut Universitaire Bilingue des Sciences Appliquées et Technologie (Bilingual Institute of Applied Sciences and Technology) est donc l’émanation d’un groupe de Professeurs des universités camerounaises et de l’extérieur, soucieux du devenir et de la formation de la jeunesse Camerounaise et Africaine pour un développement durable, d'où notre slogan "Sciences Appliquées et Technologies au service du Développement Durable".</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vision End -->

    <div id="rs-team" class="rs-team sec-spacer">
        <div class="container">
            <div class="abt-title mb-70 text-center">
                <h2>NOTRE PERSONNEL EXPÉRIMENTÉ</h2>      
                <p>Les experts de BIAST sont là pour tous vos préoccupations et vous encourage dans vos diffèrent choix de filières

            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout1.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/diane.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Donfack Diane</h3>
                            <span class="subtitle">Assistant Secrétaire</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Donfack Diane</a></h3>
                                <span class="team-title">Assistant Secrétaire</span>
                                <p class="team-desc">Établir les plannings des réunions, fixe des rendez-vous.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Branches End -->
    
    <!-- Partner Start -->
    <div id="rs-partner" class="rs-partner pt-30 pb-70">
        
        <div class="container">
            <div class="abt-title mb-70 text-center">
                <h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
                <p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/1.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/3.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/4.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/6.jpeg" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>