<div class="rs-courses-details sec-spacer pb-70">
<div class="container">
    <div class="row mb-30">
        <div class="col-lg-8 col-md-12">
            <div class="detail-img">
                <img src="/assets/images/courses/courses-details.jpg" alt="Courses Images" />
                <div class="course-seats">
                    170 <span>SEATS</span>
                </div>
            </div>
           
            <div class="course-desc">
                <h3 class="desc-title">Course Description</h3>
                <div class="desc-text">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsumor randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                </div>
                <div class="course-syllabus">
                    <h3 class="desc-title">Course Branches</h3>
                    <div id="accordion" class="rs-accordion-style1">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h3 class="acdn-title" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <strong>Branche  1: </strong>
                                    <span>Genie logiciel</span>
                                </h3>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>Branche  2: </strong><span>Infographie et web Design</span>
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <strong>Branche  3: </strong>
                                    <span>Maintenance des systeme informatique</span>
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <strong>Branche  4: </strong><span>Informatique industrielle et automatisme</span>
                                </h3>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="sidebar-area">
                
                <div class="cate-box">
                    <h3 class="title">Courses Categories</h3>
                    <ul>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Analysis & Features <span>(05)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Video Reviews <span>(07)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Engineering Tech <span>(09)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#"> Righteous Indignation <span>(08)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">General Education <span>(04)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="latest-courses">
                    <h3 class="title">Latest Courses</h3>
                    <div class="post-item">
                        <div class="post-img">
                            <a href="courses-details.html"><img src="/assets/images/blog-details/sm1.jpg" alt="" title="News image"/></a>
                        </div>
                        <div class="post-desc">
                            <h4><a href="courses-details.html">Raken develops reporting The software</a></h4>
                            <span class="duration"> 
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                            </span> 
                            <span class="price">Price: <span>$350</span></span>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="post-img">
                            <a href="courses-details.html"><img src="/assets/images/blog-details/sm2.jpg" alt="" title="News image"/></a>
                        </div>
                        <div class="post-desc">
                            <h4><a href="courses-details.html">Raken develops reporting The software</a></h4>
                            <span class="duration"> 
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                            </span> 
                            <span class="price">Price: <span>$350</span></span>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="post-img">
                            <a href="courses-details.html"><img src="/assets/images/blog-details/sm3.jpg" alt="" title="News image"/></a>
                        </div>
                        <div class="post-desc">
                            <h4><a href="courses-details.html">Raken develops reporting The software</a></h4>
                            <span class="duration"> 
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                            </span> 
                            <span class="price">Price: <span>$350</span></span>
                        </div>
                    </div>
                </div>
                <div class="tags-cloud clearfix">
                    <h3 class="title">courses Tags</h3>
                    <ul>
                        <li>
                            <a href="#">SCIENCE</a>
                        </li>
                        <li>
                            <a href="#">HUMANITIES</a>
                        </li>
                        <li>
                            <a href="#">DIPLOMA</a>
                        </li>
                        <li>
                            <a href="#">BUSINESS</a>
                        </li>
                        <li>
                            <a href="#">SPROTS</a>
                        </li>
                        <li>
                            <a href="#">RESEARCH</a>
                        </li>
                        <li>
                            <a href="#">ARTS</a>
                        </li>
                        <li>
                            <a href="#">ADMISSIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rs-testimonial" class="rs-testimonial pt-100 pb-45 sec-color">
    <div class="container">
        <div class="sec-title-2 mb-50">
            <h2>Student Reviews</h2>      
            <p>Considering primary motivation for the generation of narratives is a useful concept</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div  class="rs-carousel owl-carousel" data-loop="true" data-items="2" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="1200" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-md-device="2" data-md-device-nav="true" data-md-device-dots="false">
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="/assets/images/testimonial/1.jpg" alt="Jhon Smith"/>
                        </div>
                        <div class="testi-desc">
                            <h4 class="testi-name">Luise Henrikes</h4>
                            <div class="cl-client-rating">
                                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> 
                            </div>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="/assets/images/testimonial/2.jpg" alt="Jhon Smith"/>
                        </div>
                        <div class="testi-desc">
                            <h4 class="testi-name">Aliana D’suza</h4>
                            <div class="cl-client-rating">
                                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> 
                            </div>
                            <p>
                                Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="/assets/images/testimonial/3.jpg" alt="Jhon Smith"/>
                        </div>
                        <div class="testi-desc">
                            <h4 class="testi-name">Aliana D’suza</h4>
                            <div class="cl-client-rating">
                                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> 
                            </div>
                            <p>
                                Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="/assets/images/testimonial/4.jpg" alt="Jhon Smith"/>
                        </div>
                        <div class="testi-desc">
                            <h4 class="testi-name">Aliana D’suza</h4>
                            <div class="cl-client-rating">
                                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> 
                            </div>
                            <p>
                                Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="/assets/images/testimonial/5.jpg" alt="Jhon Smith"/>
                        </div>
                        <div class="testi-desc">
                            <h4 class="testi-name">Aliana D’suza</h4>
                            <div class="cl-client-rating">
                                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> 
                            </div>
                            <p>
                                Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div id="rs-partner" class="rs-partner pt-30 pb-70">
        
    <div class="container">
        <div class="abt-title mb-70 text-center">
            <h2>OUR PARTNERS</h2>      
            <p>Considering desire as primary motivation for the generation of narratives is a useful concept.</p>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/1.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/3.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/4.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/6.jpeg" alt="Partner Image"></a>
            </div>
        </div>
    </div>
</div>