<!-- Breadcrumbs End -->

<!-- Event Details Start -->
<div class="rs-event-details pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="event-details-content">
                    <h3 class="event-title"><a href="events-details.html">Freshers Day reception ceremony 2017</a></h3>
                    <div class="event-meta">
                        <div class="event-date">
                            <i class="fa fa-calendar"></i>
                            <span>28 June 2017</span>
                        </div>
                        <div class="event-time">
                            <i class="fa fa-clock-o"></i>
                            <span>12.30AM-05.30PM</span>
                        </div>
                        <div class="event-location">
                            <i class="fa fa-map-marker"></i>
                            <span>Venue A, Main Campus</span>
                        </div>
                    </div>
                    <div class="event-img">
                        <img src="/assets/images/events/event-details.jpg" alt="Event Details Images" />
                    </div>
                    <div class="event-desc">
                        <p>
                            A university event license follows the same format as the standard event license, except this event is co-branded with a university name (e.g., “TEDxNYU”). This means that the event is hosted by that college or university, so you’ll need permission from that school to hold the event and to use the university's name. Usually, the audience of a university event are students.
                        </p>
                        <p>
                            For a university event type, your focus or theme should be multidisciplinary and broad, and address a variety of topics. You’ll want to feature a diversity of speakers from across several disciplines, and speakers from the university where you’re holding your event. To get an idea of what you want the focus of your event, A university event license follows the same format as the standard event license, except this event is co-branded with a university.
                        </p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="cate-box">
                        <h3 class="title">Categories</h3>
                        <ul>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Analysis & Features <span>(05)</span></a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Video Reviews <span>(07)</span></a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Engineering Tech <span>(09)</span></a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#"> Righteous Indignation <span>(08)</span></a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">General Education <span>(04)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="latest-courses">
                        <h3 class="title">Latest Courses</h3>
                        <div class="post-item">
                            <div class="post-img">
                                <a href="blog-details.html"><img src="/assets/images/blog-details/sm1.jpg" alt="" title="News image"></a>
                            </div>
                            <div class="post-desc">
                                <h4><a href="blog-details.html">Raken develops reporting The software</a></h4>
                                <span class="duration"> 
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                                </span> 
                                <span class="price">Price: <span>$350</span></span>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <a href="blog-details.html"><img src="/assets/images/blog-details/sm2.jpg" alt="" title="News image"></a>
                            </div>
                            <div class="post-desc">
                                <h4><a href="blog-details.html">Raken develops reporting The software</a></h4>
                                <span class="duration"> 
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                                </span> 
                                <span class="price">Price: <span>$350</span></span>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <a href="blog-details.html"><img src="/assets/images/blog-details/sm3.jpg" alt="" title="News image"></a>
                            </div>
                            <div class="post-desc">
                                <h4><a href="blog-details.html">Raken develops reporting The software</a></h4>
                                <span class="duration"> 
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                                </span> 
                                <span class="price">Price: <span>$350</span></span>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>