    <!-- About Us Start --><br/><br/>
    <div id="rs-about" class="rs-about">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>À PROPOS DE NOUS</h2>     
                <p>Biast est un institut créé en 2020 par le Professeur Tala Pierre Kisito, Chef de département de physique à l'université de Dschang</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-img rs-animation-hover">
                        <img src="/assets/images/about/image.jpg" alt="img02"/>
                        <a class="popup-youtube rs-animation-fade" href="https://www.youtube.com/watch?v=tzMpWiGL8D8" title="Video Icon">
                        </a>
                        <div class="overly-border"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-desc">
                        <h3>BIENVENUE CHEZ BIAST</h3>      
                        <p>Avec Biast, votre formation est garantie et votre avenir n’est plus une préoccupation majeure. Tous nos filières sont reconnues pas des pays étrangers tels que : la France, l’Allemagne, l’Autriche etc...</p>
                    </div>
                    <div id="accordion" class="rs-accordion-style1">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h3 class="acdn-title" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Notre Hystoire
                                </h3>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    La brillante pensée du professeur Talla Pierre Kisito à faire naitre les étincelles de l’institut Biast en 2020. C’est grâce a ces nombreux voyages de part le monde en générale, et les différente coopération avec les grand chef d’entreprise en particulier, qui a donnée vie a cette institut..
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Notre Mission
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Assurer l’avenir des enfants est une problématique des plus fréquents dans une famille. La mission de Biast est de former les enfants et de les garantir un avenir meilleur dans des grands écoles de grand pays..
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header mb-0" id="headingThree">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                     Notre Vision
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Biast vise à établir une connexion solide entre le Cameroun et les pays étrangers afin que tous les étudiants qui se forme, puisse bénéficier de l’aide des mains extérieurs plus expérimenter pour ainsi faire avancer sa connaissance et faire avancer la technique et l’éducation dans notre pays.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us End -->
<br>
    <!-- Courses Start -->
    <div id="rs-courses" class="rs-courses sec-spacer sec-color">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS SUJETS LES PLUS POPULAIRES</h2>      
                <p>Les filières les plus fréquemment solliciter par les étudiants qui s'inscrivent à Biast</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/1.jpg" alt="" />
                                <a class="image-link" href="/courses/ElectricalIngineering" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Génie Électrique</a></h4>
                                <div class="review-wrap">
                                  
                                    <!-- <span class="review">25 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Quatre Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3 Year</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">95</span>
                                </div> -->
                                <!-- <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="assets/images/courses/2.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Génie Informatique</a></h4>
                                <div class="review-wrap">
                                    
                                    <!-- <span class="review">39 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Quatre Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">4 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">99</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/3.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Génie Civil</a></h4>
                                <div class="review-wrap">
                                    
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Quatre Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/manscience.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Gestion</a></h4>
                                <div class="review-wrap">
                                   
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Sept Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/mecanic.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Génie Mécanique</a></h4>
                                <div class="review-wrap">
                                   
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Cinq Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/sale.jpeg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Commerce et vente</a></h4>
                                <div class="review-wrap">
                                    <!-- <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star-half-empty"></li>
                                    </ul> -->
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Deux Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/medical.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Étude Medico-Sanitaire</a></h4>
                                <div class="review-wrap">
                                    <!-- <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star-half-empty"></li>
                                    </ul> -->
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Deux Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/telecom.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Génie réseaux et télécom</a></h4>
                                <div class="review-wrap">
                                    <!-- <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star-half-empty"></li>
                                    </ul> -->
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Deux Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/biomedical.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Science Biomedicale  and Technologie</a></h4>
                                <div class="review-wrap">
                                    <!-- <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star-half-empty"></li>
                                    </ul> -->
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Deux Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src="/assets/images/courses/agricult.jpg" alt="" />
                                <a class="image-link" href="courses-details.html" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                                <!-- <span class="course-value">$450</span> -->
                            </div>
                            <div class="course-body">
                                <!-- <a href="#" class="course-category">Science</a> -->
                                <h4 class="course-title"><a href="courses-details.html">Agriculture et Élevage</a></h4>
                                <div class="review-wrap">
                                    <!-- <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star-half-empty"></li>
                                    </ul> -->
                                    <!-- <span class="review">22 Reviews</span> -->
                                </div>
                                <div class="course-desc">
                                    <p>
                                        Quatre Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : 0
                                <!-- <div class="course-time">
                                    <span class="label">Course Time</span>
                                    <span class="desc">3.5 Years</span>
                                </div>
                                <div class="course-student">
                                    <span class="label">Course Student</span>
                                    <span class="desc">80</span>
                                </div>
                                <div class="class-duration">
                                    <span class="label">Class Duration</span>
                                    <span class="desc">8:30-4:00</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
    
    <!-- Counter Up Section Start-->
    <div class="rs-counter pt-100 pb-70 bg3" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="counter-content">
                        <h2 class="counter-title">LAUREATS ET STATISTIQUES</h2>
                        <div class="counter-text">
                            <p>Biast, pour année antérieure est entrain de totaliser les effectifs suivants</p>
                        </div>
                        <div class="counter-img rs-image-effect-shine">
                            <img src="/assets/images/counter/1.jpg" alt="Counter Discussion">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-80">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">10</h2>                  
                                <h4 class="counter-desc">ENSEIGNANTS</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">14</h2>
                                <h4 class="counter-desc">FILIÈRES </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">100</h2>                  
                                <h4 class="counter-desc">ÉTUDIANTS </h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">78</h2>
                                <h4 class="counter-desc">REUSSITE</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Down Section End -->

    <!-- Events Start -->
    <div id="rs-events" class="rs-events sec-spacer">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS DIFFÉRENTS ÉVÈNEMENTS</h2>      
                <p>Les différents événements au cours de ces trois dernières années, réunions, organisations, visites d'une personnalité ou d'une entreprise</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                        <div class="event-item">
                            <div class="event-img">
                                <img src="/assets/images/events/1.jpg" alt="" />
                                <a class="image-link" href="/events" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="events-details sec-color">
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    <span>28 June 2017</span>
                                </div>
                                <h4 class="event-title"><a href="events-details.html">PRACTICE WORKSHOP 2018</a></h4>
                                <div class="event-meta">
                                    <div class="event-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>12.30AM-05.30PM</span>
                                    </div>
                                    <div class="event-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Venue A, Main Campus</span>
                                    </div>
                                </div>
                                <div class="event-btn">
                                    <a href="#">Join Event <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="event-item">
                            <div class="event-img">
                                <img src="/assets/images/events/1.jpg" alt="" />
                                <a class="image-link" href="/events/visite" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="events-details sec-color">
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    <span>28 June 2017</span>
                                </div>
                                <h4 class="event-title"><a href="/events/visite">VISITE DE NANCY UNIVERSITY</a></h4>
                                <div class="event-meta">
                                    <div class="event-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>12.30AM-05.30PM</span>
                                    </div>
                                    <div class="event-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Venue A, Main Campus</span>
                                    </div>
                                </div>
                                <div class="event-btn">
                                    <a href="#">Join Event <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="event-item">
                            <div class="event-img">
                                <img src="/assets/images/events/2.jpg" alt="" />
                                <a class="image-link" href="/events/campus" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="events-details sec-color">
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    <span>28 April 2017</span>
                                </div>
                                <h4 class="event-title"><a href="/events/campus">CAMPUS EXAMINATION ROOM</a></h4>
                                <div class="event-meta">
                                    <div class="event-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>10.30AM-03.30PM</span>
                                    </div>
                                    <div class="event-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Venue A, Main Campus</span>
                                    </div>
                                </div>
                                <div class="event-btn">
                                    <a href="#">Join Event <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="event-item">
                            <div class="event-img">
                                <img src="/assets/images/events/3.jpg" alt="" />
                                <a class="image-link" href="/events/graduation" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="events-details sec-color">
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    <span>28 June 2017</span>
                                </div>
                                <h4 class="event-title"><a href="/events/graduation">BEST GRADUATION CEREMONY</a></h4>
                                <div class="event-meta">
                                    <div class="event-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>10.30AM-03.30PM</span>
                                    </div>
                                    <div class="event-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Venue A, Main Campus</span>
                                    </div>
                                </div>
                                <div class="event-btn">
                                    <a href="#">Join Event <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Events End -->
    
    <!-- Team Start -->
    <div id="rs-team" class="rs-team">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOTRE PERSONNEL EXPÉRIMENTÉ</h2>      
                <p>Considering desire as primary motivation for the generation of narratives is a useful concept.</p>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/about/about.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">ABD Rashid Khan</h3>
                            <span class="subtitle">Vice Chancellor</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">ABD Rashid Khan</a></h3>
                                <span class="team-title">Vice Chancellor</span>
                                <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/about/about.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Luyes Figery</h3>
                            <span class="subtitle">A. Professor</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Luyes Figery</a></h3>
                                <span class="team-title">A. Professor</span>
                                <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/about/about.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mr. Mahabub Alam</h3>
                            <span class="subtitle">Assistant Professor</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mr. Mahabub Alam</a></h3>
                                <span class="team-title">Assistant Professor</span>
                                <p class="team-desc">Entrusted with planning, implementation and evaluation.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <div id="rs-latest-news" class="rs-latest-news sec-spacer">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS PUBLICATIONS LES PLUS RÉCENTES  </h2>      
                <p>Les Informations quelques peu inportantes pour les étudiants inscrit à Biast.</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="news-normal-block">
                        <div class="news-img">
                            <a href="#">
                                <img src="/assets/images/blog/1.jpg" alt="" />
                            </a>
                        </div>
                        <div class="news-date">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>June  28,  2017</span>
                        </div>
                        <h4 class="news-title"><a href="blog-details.html">Those Other College Expenses You Aren't Thinking About</a></h4>
                        <div class="news-desc">
                            <p>
                                Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.Lorem Ipsum is therefore always free from repetitionetc.
                            </p>
                        </div>
                        <div class="news-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="news-list-block">
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/2.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">While the lovely valley team work</a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>June  28,  2017</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Excepteur sint occaecat cupidatat non proident,
                                        sunt in culpa qui officia deserunt.
                                    </p>
                                </div>
                            </div>			        			
                        </div>
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/3.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">I must explain to you how all this idea</a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>June  28,  2017</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Excepteur sint occaecat cupidatat non proident,
                                        sunt in culpa qui officia deserunt.
                                    </p>
                                </div>
                            </div>			        			
                        </div>
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/4.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">I should be incapable of drawing a stroke</a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>June  28,  2017</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Excepteur sint occaecat cupidatat non proident,
                                        sunt in culpa qui officia deserunt.
                                    </p>
                                </div>
                            </div>			        			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <!-- Partner Start -->
    <div id="rs-partner" class="rs-partner pt-60 pb-70 ">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
                <p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/1.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/3.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/4.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/6.jpg" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>